@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
body {
	color: #FEFAEC;
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
	/*background-color: #625772*/
}

h1,
h4,
p,
marquee {
	margin: 5px 0
}

main {
	width: 400px;
	margin: 0 auto
}

section {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between
}

section div {
	margin: 0;
	line-height: 25px;
	text-align: center
}

.em {
	color: #383838 /*#F38181*/
}

section .wi {
	font-size: 2em
}

#topright,
#topleft {
	width: 50%
}

#topright {
	float: right;
	text-align: right
}

#topleft {
	float: left
}

.coronaTracker {
	text-transform: capitalize
}

@keyframes gradientBG {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}